{% extends "header.html" %}
{% block body %}
<style>
  button {
    margin-bottom: 3px;
  }
</style>
<div class="content-wrapper" style="background-color:#DDDDDD;">
	<section class="content-header">
		<h1>
		Enterprise Dashboard
		<small>Control panel For Enterprises and Warehouses</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Enterprise Dashboard</li>
		</ol>
	</section>
	<section class="content">
		<div class="box">
			<div class="col-md-2 col-lg-2"></div>
			<div class="col-md-8 col-lg-8" align="center">
				<div class="box-body">
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-warning btn-large btn-flat">1</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">2</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">3</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">1</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">2</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">3</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">1</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">2</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">3</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">1</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">2</button>
						<button type="button" class="btn btn-warning btn-large btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>
					<div class="btn-group-vertical btn-flat">
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
						<button type="button" class="btn btn-large btn-success btn-flat">1</button>
						<button type="button" class="btn btn-large btn-success btn-flat">2</button>
						<button type="button" class="btn btn-large btn-success btn-flat">3</button>
					</div>

				</div>
			</div>
			<div class="col-md-2 col-lg-2"></div>
		</div>
	</section>
</div>
{% endblock %}