<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Gas | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{{ url_for('static', filename='internal/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />   
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="{{ url_for('static', filename='internal/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="{{ url_for('static', filename='internal/css/skins/_all-skins.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{ url_for('static', filename='internal/plugins/iCheck/flat/blue.css') }}" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="{{ url_for('static', filename='internal/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="{{ url_for('static', filename='internal/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="{{ url_for('static', filename='internal/plugins/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="{{ url_for('static', filename='internal/plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="{{ url_for('static', filename='internal/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo"><b>SmartGas</b>&nbsp;Systems</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">1</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="{{ url_for('static', filename='internal/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image"/>
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">1</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 1 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          {% if userData %}
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ url_for('static', filename='internal/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>{{userData.vmanagerName}}</p>
              <!-- <small>Organization: {{userData.vname}}</small> -->

              <a href="#"><i class="fa fa-circle text-success"></i> Organization: {{userData.vname}}</a>
            </div>
          </div>
          {% elif result %}
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ result.gravatar }}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>{{result.fname}} {{result.lname}}</p>
              <a href="#">{{result.pan}} - {{result.aadhar}}</a>
            </div>
          </div>
          {% endif %}
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a href="/dashboard">
                <i class="fa fa-dashboard"></i> <span>Home</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/profile">
                <i class="fa fa-user"></i> <span>Profile</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/invoices"><i class="fa fa-file-text"></i> <span>Invoices</span></a>
            </li>
            <li class="treeview">
              <a href="/enterprise"><i class="fa fa-gears"></i><span>Pending Approvals</span></a>
            </li>
            <li class="treeview">
              <a href="/successfullydelivered"><i class="fa fa-car"></i><span>Successful Deliveries</span></a>
            </li>
            <li class="treeview">
              <a href="/undelivered"><i class="fa fa-warning"></i><span>Undelivered Gas Cylinders</span></a>
            </li>
            <li class="treeview">
              <a href="/cylinders"><i class="fa fa-cube"></i><span>Gas Cylinder Grid</span></a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
      {% block body %}{% endblock %}
      {% extends "footer.html" %}